body{
margin:0;
background:linear-gradient(#02030a,#050816);
font-family:Georgia,serif;
color:white;
overflow:hidden;
}

/* céu */

.sky{
position:absolute;
width:100%;
height:100%;
}

.moon{
position:absolute;
top:50px;
right:100px;
width:120px;
height:120px;
border-radius:50%;
background:white;
box-shadow:0 0 60px white;
}

.stars{
position:absolute;
width:100%;
height:100%;
background-image:radial-gradient(white 1px, transparent 1px);
background-size:3px 3px;
opacity:0.3;
}

/* fog */

.fog{
position:absolute;
bottom:0;
width:200%;
height:200px;
background:linear-gradient(to right,transparent,rgba(255,255,255,0.08),transparent);
animation:fog 60s infinite linear;
}

@keyframes fog{
0%{transform:translateX(-50%);}
100%{transform:translateX(50%);}
}

/* tumbas fundo */

.graveyard{
position:absolute;
bottom:100px;
width:100%;
}

.grave-bg{
position:absolute;
width:70px;
height:110px;
background:#1a1a1a;
border-radius:40px 40px 6px 6px;
text-align:center;
font-size:11px;
padding-top:40px;
color:#aaa;
}

/* sepultura */

.scene{
height:100vh;
display:flex;
align-items:center;
justify-content:center;
flex-direction:column;
transition:2s;
}

.grave{
width:180px;
height:240px;
background:linear-gradient(#444,#111);
border-radius:90px 90px 10px 10px;
display:flex;
align-items:center;
justify-content:center;
position:relative;
box-shadow:0 0 30px rgba(255,255,255,0.2);
cursor:pointer;
}

.cross{
position:absolute;
top:-40px;
width:20px;
height:70px;
background:#aaa;
}

.cross::after{
content:"";
position:absolute;
top:20px;
left:-20px;
width:60px;
height:20px;
background:#aaa;
}

.name{
font-size:28px;
}

.flowers{
text-align:center;
margin-top:10px;
font-size:22px;
}

/* coffin */

.coffin-container{
opacity:0;
transform:translateY(300px);
transition:2s;
}

.coffin-container.show{
opacity:1;
transform:translateY(0);
}

.coffin{
width:320px;
height:550px;
background:#2a0d0d;
clip-path:polygon(
50% 0%,
90% 15%,
90% 85%,
50% 100%,
10% 85%,
10% 15%
);
position:relative;
}

.coffin-lid{
position:absolute;
width:100%;
height:100%;
background:#3a1111;
transition:2s;
transform-origin:left;
}

.coffin-lid.open{
transform:rotateY(-120deg);
}

.coffin-inside{
position:absolute;
width:100%;
height:100%;
padding:20px;
box-sizing:border-box;
}

.coffin-flowers{
font-size:24px;
text-align:center;
margin-bottom:10px;
}

.letter{
height:400px;
overflow-y:auto;
font-size:20px;
line-height:1.6;
}

/* zoom */

.zoom{
transform:scale(1.3);
}
